{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load socialaccount %}

{% block content %}
    <!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
	    <div class="d-flex">

        <!-- Actual form div -->
        <div class="w-40 align-self-center text-center p-4 new-w-90 new-w-50-tb">

	        <!-- Form -->
	        <form action="{% url 'registration_register' %}" method="POST">
		        {% csrf_token %}
		        <h1 class="my-3">Create your account</h1>

		        <!-- Form fields -->
		        <input type="email" name="email" placeholder="Email" class="custom-form-control1 w-100">

		        <div class="my-3">
					<input type="password" name="password" placeholder="Password" class="custom-form-control1 w-100">
		        </div>

				<div class="text-right w-100">

			        <button class="custom-btn btn-red">Create</button>

				</div>

		        <!-- Social account signup -->
		        <div>

					<p>Or sign up using</p>
			        <a href="{% provider_login_url 'facebook' %}" class="custom-btn btn-white w-100"><i class="fab fa-facebook blue" ></i><span class="blue ml-2">Facebook</span></a>
			        <a href="{% provider_login_url 'google' %}" class="custom-btn btn-white w-100 my-3 "><i class="fab fa-google red" ></i><span class="red ml-2">Google</span></a>
			        <a href="{% provider_login_url 'apple' %}" class="custom-btn btn-white w-100"><i class="fab fa-apple black" ></i><span class="black ml-2">Apple</span></a>

				</div>

	        </form>

        </div>


    </div>

	<!-- login main content end -->

{% endblock %}
{% block js %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '148611413820495',
      cookie     : true,
      xfbml      : true,
      version    : 'v10.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

{#<fb:login-button#}
{#  scope="public_profile,email"#}
{#  onlogin="checkLoginState();">#}
{#</fb:login-button>#}
{##}
{##}
{#function checkLoginState() {#}
{#  FB.getLoginStatus(function(response) {#}
{#    statusChangeCallback(response);#}
{#  });#}
{#}#}
{#</script>#}
{% endblock %}