{% load static %}

<!-- wrapper div -->
<div class="d-flex footer-top justify-content-between display-block" >

	<!-- logo and icon div -->
	<div class="mx-auto new-w-35">

		<img src="{% static 'images/Logo_White_Pink-01.png' %}" height="100px" alt="company logo">
		<!-- icons -->
		<div class="text-center d-flex justify-content-between" style="width: 85%;margin: auto">

			<i class="fab fa-facebook-f footer-icons"></i>
			<i class="fab fa-twitter footer-icons"></i>
			<i class="fab fa-linkedin footer-icons"></i>
		</div>


	</div>
	<!--End logo and icon div -->

	<!-- policy link div -->
	<div class="mx-auto pl-3">
		<h3 class="text-white">Policies</h3>

		<p class="text-white">Privacy</p>
		<p class="text-white">Security</p>
		<p class="text-white">Payments</p>

	</div>
	<!--End policy and link div -->

	<!-- Customer service div -->
	<div class="mx-auto pl-3">
		<h3 class="text-white">Customer Service</h3>

		<p class="text-white">0800 897897</p>
		<p class="text-white">33 an address someplace</p>
		<p class="text-white">customerservice@rightaircraft.com</p>

	</div>
	<!--End customer service div -->

</div>