{% extends "base.html" %}
{% load static %}

{% block content %}

	<!-- wrapper div -->
	<div class="container">
		<a href="{% url 'classifieds' %}" class="back-link text-white">&#x2190;Back to search results</a>

		<!--main content div -->
		<div class="bg-black-transparent p-2">

			<div class="row m-0">

			<div class="p-0 col-md-6 w-40">
				<div>
					<img src="{% static 'images/list_classfied_1.PNG' %}" width="100%" height="300px" alt="">
				</div>

				<div class="d-flex">
					<div>

						<img src="{% static 'images/list_classfied_1.PNG' %}" height="102px" alt="">

					</div>


					<div>

						<img src="{% static 'images/list_classfied_1.PNG' %}" height="102px" alt="">

					</div>


					<div>

						<img src="{% static 'images/list_classfied_1.PNG' %}" height="102px" alt="">

					</div>
				</div>

			</div>




			<div class="w-50 col-md-6 ">
				<h3>EUROCOPTER AS 365N-2</h3>
				<h3>$15,000,000</h3>
				<i class="fas fa-map-marker" style="color: red"></i><span class="ml-2">Newcastle, Uk</span>

				<div class="row ">

					<div class="col-sm-6">
						<p class="m-0"><b>Serial Number:</b></p>
						<p class="m-0"><b>Registration:</b></p>
						<p class="m-0"><b>Total Time:</b></p>
						<p class="m-0"><b>Year:</b></p>
					</div>

					<div class="col-sm-6">
						<p class="m-0">6341</p>
						<p class="m-0">G-NHAA</p>
						<p class="m-0">4,532</p>
						<p class="m-0">1991</p>
					</div>


				</div>

				<p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci autem, consectetur corporis dignissimos doloremque eligendi et fugit impedit laborum minima non odio officiis omnis pariatur quidem temporibus, vitae.</p>

				<h3>Contact Details</h3>
				<div class="d-flex justify-content-between">
					<p>E:email@gmail.com</p>
					<p>Tel:+44 091 1212112</p>
				</div>


			</div>









		</div>

			<div class="d-flex justify-content-between my-3">

				<div class="w-30">
					<h3 class="my-3">Engine Details</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio magni. Accusantium consequuntur deleniti dicta distinctio dolorem earum explicabo facilis ipsa modi quae, quas tempore ullam voluptates. Adipisci, consequuntur deserunt fuga id libero, necessitatibus perferendis quasi quia recusandae similique veritatis.</p>

				</div>


				<div class="w-30">
					<h3 class="my-3">Interior</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio magni. Accusantium consequuntur deleniti dicta distinctio dolorem earum explicabo facilis ipsa modi quae, quas tempore ullam voluptates. Adipisci, consequuntur deserunt fuga id libero, necessitatibus perferendis quasi quia recusandae similique veritatis.</p>

				</div>


				<div class="w-30">
					<h3 class="my-3">Exterior</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio magni. Accusantium consequuntur deleniti dicta distinctio dolorem earum explicabo facilis ipsa modi quae, quas tempore ullam voluptates. Adipisci, consequuntur deserunt fuga id libero, necessitatibus perferendis quasi quia recusandae similique veritatis.</p>

				</div>




			</div>

			<div class="d-flex justify-content-between my-3">

				<div class="w-30">
					<h3 class="my-3">Avionics</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio magni. Accusantium consequuntur deleniti dicta distinctio dolorem earum explicabo facilis ipsa modi quae, quas tempore ullam voluptates. Adipisci, consequuntur deserunt fuga id libero, necessitatibus perferendis quasi quia recusandae similique veritatis.</p>

				</div>

				<div class="w-30">
					<h3 class="my-3">Maintenance Status</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio magni. Accusantium consequuntur deleniti dicta distinctio dolorem earum explicabo facilis ipsa modi quae, quas tempore ullam voluptates. Adipisci, consequuntur deserunt fuga id libero, necessitatibus perferendis quasi quia recusandae similique veritatis.</p>

				</div>


				<div class="w-30">
					<h3 class="my-3">Additional Information</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, distinctio magni. Accusantium consequuntur deleniti dicta distinctio dolorem earum explicabo facilis ipsa modi quae, quas tempore ullam voluptates. Adipisci, consequuntur deserunt fuga id libero, necessitatibus perferendis quasi quia recusandae similique veritatis.</p>

				</div>

			</div>


		</div>
		<!--end main content div -->


	</div>



{% endblock %}
{% block static_content %}

{% endblock %}

{% block js %}
	<script type="text/javascript">
		const bg = document.getElementById('bg')
		bg.classList.add('bg-transparent')
	</script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVj6yChAfe1ilA4YrZgn_UCAnei8AhQxQ&sensor=false"></script>
    <script type="text/javascript">
        (function ($) {
            "use strict";
            /* ======= Show Number ======= */
            $('.number').click(function () {
                $(this).find('span').text($(this).data('last'));
            });

            /* ======= Ad Location ======= */
            var map = "";
            var latlng = new google.maps.LatLng(47.550259, -122.264847);
            var myOptions = {
                zoom: 13,
                center: latlng,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                size: new google.maps.Size(480, 240)
            }
            map = new google.maps.Map(document.getElementById("itemMap"), myOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: latlng
            });
            /* ======= Ad Detail On Scroll ======= */
            //caches a jQuery object containing the header element
            var header = $(".sticky-ad-detail");
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                if (scroll >= 500) {
                    header.addClass("show-sticky-ad-detail");
                } else {
                    header.removeClass("show-sticky-ad-detail");
                }
            });
        })(jQuery);
    </script>
{% endblock %}