{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load bootstrap_tags %}



{% block content %}
	<div class="ps-4">

		<!-- form wrapper div -->
		<div class=" w-60 new-w-100">
			<form action="{% url 'classifieds' %}" method="GET" class="w-80 align-right new-w-100 align-none">
				<input type="text" name="search" placeholder="Keyword, Make, Model S/N" class="custom-form-control w-70 new-w-100 new-w-90-tb">
				<button class="custom-btn btn-red move-left">Search</button>
			</form>

		</div>
		<!--end form wrapper div -->

		<h1 class="text-center my-3">{{ list.count }} Aircraft found</h1>

		<div class="text-center">
			{% if page_obj.has_previous %}
			<span>{{ page_obj.previous_page_number }}</span>
			{% endif %}
			<span>Page {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}</span>
			{% if page_obj.has_next %}
			<span>{{ page_obj.next_page_number }}</span>
			{% endif %}
			{% if search %}
				<p>Search results for "{{ search }}"</p>
			{% endif %}

		</div>

		<div class="container align-right new-w-80">
			<div class="row display-flex">
				<p class="col-sm-9 align-right">Filter By</p>
				<p class="col-sm-1">Price</p>
				<p class="col-sm-1">Location</p>
			</div>


		</div>

		<div class="">
		<div class="row ">

			<!-- Filters Div -->
			<div class="col-sm-4 bg-black-transparent ">
				<form action="{% url 'classifieds' %}" method="GET" class="p-4" >
					<div class="my-5">
						<h3>Aircraft type</h3>
						<hr class="hr-1"/>
						<input type="checkbox" name="aircraft_type__type_name"><span class="ml-2">Turbine</span>
					</div>

					<div class="my-5">
						<h3>Brand</h3>
						<hr class="hr-1"/>
						<input type="checkbox" name="aircraft_make__make_name" ><span class="ml-2">Eurocopter</span>
					</div>




					<div class="my-5">
						<h3>Price</h3>
						<hr class="hr-1"/>

						<div class="d-flex ">

							<label for="" class="d-block text-white">
								Min($)
								<input type="number" class="custom-form-control w-80" name="price_usd__gte" >
							</label>

							<label for="" class="d-block text-white">
								Max($)
								<input type="number" class="custom-form-control w-80" name="price_usd__lte">
							</label>

						</div>
					</div>

					<div class="my-3">

						<h3>Year</h3>
						<hr class="hr"/>
						<div class="d-flex ">

							<label for="" class="d-block text-white">
								Min(Y)
								<input type="number" class="custom-form-control w-80" name="year_of_make__gte" >
							</label>

							<label for="" class="d-block text-white">
								Max(Y)
								<input type="number" class="custom-form-control w-80" name="year_of_make__lte">
							</label>

						</div>

					</div>

					<button class="custom-btn btn-red w-100 my-3">Search</button>
				</form>
			</div>
			<!--End filter div -->

			<!-- Actual wrapper content div -->
			{% if list %}
			<!--conditional check if searched result returns a list -->
			<div class="col-sm-8 p-0">
				{% for item in list %}
				{% if forloop.counter < 3 %}
				<!-- content div -->
				<div class="row p-1 bg-black-transparent w-95 new-w-100 mtb" style="margin-bottom: 5px!important;">

					<!-- Images div -->
					<div class="col-md-6 p-0 d-flex w-60 new-w-40 new-w-90 new-w-90-tb">

						<!--wrapper big image -->
						<div class="w-90">
							<img src="{{ item.get_main_image }}" style="width: 100%" height="250px" alt="new">
						</div>
						<!--End wrapper big image -->

						<div class="align-self-center ">

							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="83px" alt=""></div>
							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="83px" alt=""></div>
							<div>
								<img src="{% static 'images/list_classfied_1.PNG' %}" height="83px" alt="">
							</div>
						</div>

					</div>
					<!--End images div -->


					<!--Aircraft Info div -->
					<div class="col-md-6 w-40 p-2 new-w-90 new-w-90-tb">

						<a href="{% url 'classified' item.pk %}" class="link">{{ item.aircraft_make }} {{ item.aircraft_type }}</a>
						<h2>${{ item.price_usd }}</h2>

						<div class="d-flex justify-content-between display-flex">

							<div class="">
								<p class="m-0">Serial Number:</p>
								<p class="m-0">Registration:</p>
								<p class="m-0">Total Time:</p>
								<p class="m-0">Year:</p>
							</div>

							<div class="">
								<p class="m-0">{{ item.serial_number }}</p>
								<p class="m-0">G-NHAA</p>
								<p class="m-0">4,567</p>
								<p class="m-0">{{ item.year_of_make }}</p>
							</div>




						</div>
						<i class="fas fa-map-marker" style="height: 20px;width: 20px;color: red"></i><span>{{ item.aircraft_location}}</span>

					</div>
					<!--End aircraft info div -->


				</div>
				<!--end content div -->
				{% endif %}
				{% endfor %}

			</div>
			{% else %}

				<div class="alert alert-primary text-center col-sm-8 " role="alert">
					Ops!Looks like nothing matches your query. PLease try again.
				</div>

			{% endif %}
			<!--end conditional -->

			<!-- End actual wrapper div -->


		</div>
		</div>


	</div>

{% endblock content %}
{% block static_content %}
	<div style="width: 80%;margin-left: auto" class="new-w-100">
	<div class="new-w-100 lower-div new-p-1" style="width: 82.75%;margin-left: auto;position: relative;top: -153px;left: -4.5px" >
		{% for item in list %}
		{% if forloop.counter > 2 %}
				<!-- content div -->
				<div class="row p-0 bg-black-transparent repetitve new-w-100 " style="width: 95%;margin: auto;margin-bottom: 5px!important;">

					<!-- Images div -->
					<div class="col-md-6 p-0 d-flex w-60 new-w-40 new-w-90 new-w-90-tb">

						<!--wrapper big image -->
						<div class="w-80">
							<img src="{{ item.get_main_image }}" style="width: 100%" height="250px" alt="new">
						</div>
						<!--End wrapper big image -->

						<div class="align-self-center ">

							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt=""></div>
							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt=""></div>
							<div>
								<img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt="">
							</div>
						</div>

					</div>
					<!--End images div -->


					<!--Aircraft Info div -->
					<div class="col-md-6 w-40 p-2 new-w-90 new-w-90-tb">

						<a href="{% url 'classified' item.pk %}" class="link">{{ item.aircraft_make }} {{ item.aircraft_type }}</a>
						<h2>${{ item.price_usd }}</h2>

						<div class="d-flex justify-content-between display-flex">

							<div class="">
								<p class="m-0">Serial Number:</p>
								<p class="m-0">Registration:</p>
								<p class="m-0">Total Time:</p>
								<p class="m-0">Year:</p>
							</div>

							<div class="">
								<p class="m-0">{{ item.serial_number }}</p>
								<p class="m-0">G-NHAA</p>
								<p class="m-0">4,567</p>
								<p class="m-0">{{ item.year_of_make }}</p>
							</div>




						</div>
						<i class="fas fa-map-marker" style="height: 20px;width: 20px;color: red"></i><span>{{ item.aircraft_location}}</span>

					</div>
					<!--End aircraft info div -->


				</div>
				<!--end content div -->
		{% endif %}
		{% endfor %}
	</div>
	</div>
{% endblock %}

{% block js %}
	<script>

		const bg = document.getElementById('bg')
		bg.classList.add('bg-transparent')


		const divs = document.getElementsByClassName('repetitve')
		divs[divs.length-1].style.marginBottom = 0
	</script>

    <!-- noUiSlider -->
    <script src="{% static 'js/nouislider.all.min.js' %}"></script>
{% endblock %}