{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main-content-area clearfix">
        <!-- =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-= -->
        <section class="section-padding error-page pattern-bgs gray ">
            <!-- Main Container -->
            <div class="container">
                <!-- Row -->
                <div class="row">
                    <!-- Middle Content Area -->
                    {% for message in messages %}
                        <div class="col-xs-12">
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        </div>
                    {% endfor %}

                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="well ad-listing clearfix">
                            <div class="col-md-3 col-sm-5 col-xs-12 grid-style no-padding">
                                <!-- Image Box -->
                                <div class="img-box">
                                    {% if classified.get_main_image %}
                                        <img src="{{ classified.get_main_image.image.url }}" class="img-responsive" alt="">
                                    {% else %}
                                        <img src="{% static 'images/posting/car-4.jpg' %}" class="img-responsive" alt="">
                                    {% endif %}

                                    <div class="total-images"><strong>{{ classified.get_images_count }}</strong> photos</div>
                                    <div class="quick-view"><a href="#ad-preview" data-toggle="modal" class="view-button"><i class="fa fa-search"></i></a></div>
                                </div>
                                <!-- Ad Status --><span class="ad-status"> Featured </span>
                                <!-- User Preview -->
                                <div class="user-preview">
                                    {% if classified.company_logo %}
                                        <a href="#"> <img src="{{ classified.company_logo.url }}" class="avatar avatar-small" alt=""> </a>
                                    {% else %}
                                        <a href="#"> <img src="{% static 'images/users/2.jpg' %}" class="avatar avatar-small" alt=""> </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-7 col-xs-12">
                                <!-- Ad Content-->
                                <div class="row">
                                    <div class="content-area">
                                        <div class="col-md-9 col-sm-12 col-xs-12">
                                            <!-- Category Title -->
                                            <div class="category-title"><span><a href="{% url 'classifieds' %}?aircraft_type={{ classified.aircraft_type.id }}">{{ classified.aircraft_type.type_name }}</a></span></div>
                                            <!-- Ad Title -->
                                            <h3><a href="{% url 'classified' classified_id=classified.id %}">{{ classified.get_title }}</a></h3>
                                            <!-- Info Icons -->
                                            <ul class="additional-info pull-right">
                                                <li>
                                                    <a data-toggle="tooltip" title="Send Message" href="{% url 'classified' classified_id=classified.id %}" class="fa fa-envelope"></a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tooltip" title="{{ classified.phone_number }}" href="{% url 'classified' classified_id=classified.id %}" class="fa fa-phone"></a>
                                                </li>
                                            </ul>
                                            <!-- Ad Meta Info -->
                                            <ul class="ad-meta-info">
                                                <li><i class="fa fa-map-marker"></i><a href="#">{{ classified.aircraft_location }}</a></li>
                                                <li><i class="fa fa-clock-o"></i>{{ classified.date_time|date:'Y-m-d H:i' }}</li>
                                                {% if classified.commercial_aircraft %}
                                                    <li>
                                                        <span class="badge" style="background-color: #c67605"> Commercial Aircraft </span>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                            <!-- Ad Description-->
                                            <div class="ad-details">
                                                <p>{{ classified.description }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12 col-sm-12">
                                            <!-- Ad Stats -->
                                            <div class="short-info">
                                                <div class="ad-stats hidden-xs"><span>Make  : </span>{{ classified.aircraft_make.make_name }}</div>
                                                <div class="ad-stats hidden-xs"><span>Year : </span>{{ classified.year_of_make }}</div>
                                            </div>
                                            <!-- Price -->
                                            <div class="price"><span>${{ classified.price_usd }}</span></div>
                                            <div class="">Classified Status: <span class="badge">{{ classified.get_classified_status_display }}</span></div>
                                            <div class="">Payment Completed: <span class="badge">{{ classified.payment_completed }}</span></div>
                                            <!-- Ad View Button -->
                                            <a href="{% url 'classified' classified_id=classified.id %}" target="_blank" class="btn btn-block btn-success"><i class="fa fa-eye" aria-hidden="true"></i> View Ad.</a>
{#                                            <a href="{% url 'classified_edit' classified_id=classified.id %}" class="btn btn-block btn-danger"><i class="fa fa-eye" aria-hidden="true"></i> Edit Ad.</a>#}
                                        </div>
                                    </div>
                                </div>
                                <!-- Ad Content End -->
                            </div>
                        </div>
                        <a class="btn btn-success" href="{% url 'classified_confirm_payment' classified_id=classified.id %}">Confirm payment</a>
                    </div>
                    <!-- Middle Content Area  End -->
                </div>
                <!-- Row End -->
            </div>
            <!-- Main Container End -->
        </section>
        <!-- =-=-=-=-=-=-= Ads Archives End =-=-=-=-=-=-= -->
        <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
        <!-- =-=-=-=-=-=-= FOOTER END =-=-=-=-=-=-= -->
    </div>
    <!-- Main Content Area End -->
    <!-- Back To Top -->
    <a href="#0" class="cd-top">Top</a>

{% endblock %}


{% block js %}
{% endblock %}