{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
	{% if list %}

	<div class="container">
	{% for item in list %}
		{% if forloop.counter < 3 %}
		<div class="row p-0 bg-black-transparent repetitve new-w-100 " style="width: 95%;margin: auto;margin-bottom: 5px!important;">

					<!-- Images div -->
					<div class="col-md-6 p-0 d-flex w-60 new-w-40 new-w-90 new-w-90-tb">

						<!--wrapper big image -->
						<div class="w-80">
							<img src="{{ item.get_main_image }}" style="width: 100%" height="250px" alt="new">
						</div>
						<!--End wrapper big image -->

						<div class="align-self-center ">

							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt=""></div>
							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt=""></div>
							<div>
								<img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt="">
							</div>
						</div>

					</div>
					<!--End images div -->


					<!--Aircraft Info div -->
					<div class="col-md-6 w-40 p-2 new-w-90 new-w-90-tb">

						<a href="{% url 'classified' item.pk %}" class="link">{{ item.aircraft_make }} {{ item.aircraft_type }}</a>
						<h2>${{ item.price_usd }}</h2>

						<div class="d-flex justify-content-between display-flex">

							<div class="">
								<p class="m-0">Serial Number:</p>
								<p class="m-0">Registration:</p>
								<p class="m-0">Total Time:</p>
								<p class="m-0">Year:</p>
							</div>

							<div class="">
								<p class="m-0">{{ item.serial_number }}</p>
								<p class="m-0">G-NHAA</p>
								<p class="m-0">4,567</p>
								<p class="m-0">{{ item.year_of_make }}</p>
							</div>




						</div>
						<i class="fas fa-map-marker" style="height: 20px;width: 20px;color: red"></i><span>{{ item.aircraft_location}}</span>

					</div>
					<!--End aircraft info div -->


				</div>
		{% endif %}
	{% endfor %}
	</div>
	{% else %}
	<div class="alert-primary text-center p-4">
		No classifieds added yet! <a href="{% url 'post_ad' %}" class="link" style="font-size: 15px">Add one now</a>
	</div>
{% endif %}
{% endblock %}
{% block static_content %}
	<div class="container">
	{% for item in list %}
		{% if forloop.counter > 3 %}
		<div class="row p-0 bg-black-transparent repetitve new-w-100 " style="width: 95%;margin: auto;margin-bottom: 5px!important;">

					<!-- Images div -->
					<div class="col-md-6 p-0 d-flex w-60 new-w-40 new-w-90 new-w-90-tb">

						<!--wrapper big image -->
						<div class="w-80">
							<img src="{{ item.get_main_image }}" style="width: 100%" height="250px" alt="new">
						</div>
						<!--End wrapper big image -->

						<div class="align-self-center ">

							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt=""></div>
							<div><img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt=""></div>
							<div>
								<img src="{% static 'images/list_classfied_1.PNG' %}" height="81px" alt="">
							</div>
						</div>

					</div>
					<!--End images div -->


					<!--Aircraft Info div -->
					<div class="col-md-6 w-40 p-2 new-w-90 new-w-90-tb">

						<a href="{% url 'classified' item.pk %}" class="link">{{ item.aircraft_make }} {{ item.aircraft_type }}</a>
						<h2>${{ item.price_usd }}</h2>

						<div class="d-flex justify-content-between display-flex">

							<div class="">
								<p class="m-0">Serial Number:</p>
								<p class="m-0">Registration:</p>
								<p class="m-0">Total Time:</p>
								<p class="m-0">Year:</p>
							</div>

							<div class="">
								<p class="m-0">{{ item.serial_number }}</p>
								<p class="m-0">G-NHAA</p>
								<p class="m-0">4,567</p>
								<p class="m-0">{{ item.year_of_make }}</p>
							</div>




						</div>
						<i class="fas fa-map-marker" style="height: 20px;width: 20px;color: red"></i><span>{{ item.aircraft_location}}</span>

					</div>
					<!--End aircraft info div -->


				</div>
		{% endif %}
	{% endfor %}
	</div>
{% endblock %}
